<plugin name='glass' version='0.1' grailsVersion='2.2 &gt; *'>
  <author>Your name</author>
  <title>Glass Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://glass.org/plugin/glass</documentation>
  <type>GlassGrailsPlugin</type>
  <resources>
    <resource>GlassDefaultConfig</resource>
    <resource>spring.resources</resource>
    <resource>org.seethrough.glass.AuthController</resource>
    <resource>org.seethrough.glass.NotifyController</resource>
    <resource>org.seethrough.glass.User</resource>
    <resource>org.seethrough.glass.UserCredential</resource>
    <resource>org.seethrough.glass.MailJob</resource>
    <resource>org.seethrough.glass.AuthorisationService</resource>
    <resource>org.seethrough.glass.MailService</resource>
    <resource>org.seethrough.glass.NotifyService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.codehaus.jackson' name='jackson-core-asl' version='1.9.11' />
      <dependency group='com.google.api-client' name='google-api-client' version='1.14.1-beta' />
      <dependency group='com.google.apis' name='google-api-services-mirror' version='v1-rev2-1.14.1-beta' />
      <dependency group='com.google.http-client' name='google-http-client' version='1.14.1-beta' />
      <dependency group='com.google.guava' name='guava' version='14.0.1' />
      <dependency group='com.sun.mail' name='javax.mail' version='1.5.0' />
      <dependency group='com.google.apis' name='google-api-services-oauth2' version='v1-rev33-1.14.1-beta' />
      <dependency group='com.google.http-client' name='google-http-client-jackson' version='1.14.1-beta' />
      <dependency group='org.apache.activemq' name='activemq-core' version='5.3.0' />
      <dependency group='org.codehaus.jackson' name='jackson-mapper-asl' version='1.9.11' />
    </compile>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='quartz' version='1.0-RC8' />
      <plugin group='org.grails.plugins' name='plugin-config' version='0.1.8' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='hibernate' version='2.2.2' />
    </runtime>
  </plugins>
  <runtimePluginRequirements>
    <plugin name='plugin-config' version='0.1.8' />
    <plugin name='quartz' version='1.0-RC8' />
  </runtimePluginRequirements>
  <behavior />
</plugin>